### **Supabase Project Details**
*   **Project ID:** `tdzncjwezwxpwltaffix`
*   **Publishable Key:** `sb_publishable_qlHjQWP2NVQavC3NkrJpPw_3m1NAr6a`
*   **Anon Public Key:** `eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRkem5jandlend4cHdsdGFmZml4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc5MDY3MDYsImV4cCI6MjA5MzQ4MjcwNn0.X_8ZCOcpO_CpKe8MXNI2SdyaKR7vcXk-UlDzRuCtNW4`
*   **Service Role Key:** `eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRkem5jandlend4cHdsdGFmZml4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NzkwNjcwNiwiZXhwIjoyMDkzNDgyNzA2fQ.4hOrOLZB9ZiUSVEAeieuZb693ADjFmeyYCJZIUMe1dg`

---

### **Google OAuth Credentials**`
*   **Client Secret:** `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`

---

### **API Access**
*   **API Key:** `AQ.Ab8RN6LcMHE-eCR0-C2wLDOuEPi45SGl39paQCTVZGkyvEZbBw`
